.footer {
  background-color: $primary-black-color;
  .container {
    .footer__container__social__media {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 0;
      flex-wrap: wrap;
      flex-direction: column;
      .footer__logo {
        width: 9.9375rem;
      }
      .footer__social__media {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3rem;
        li {
          a {
            .social__media__icon {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
      .footer__container__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.25rem;
        li {
          a {
            color: $primary-white-color;
            font-size: 0.875rem;
          }
        }
        @media screen and (min-width: 991px) {
          flex-direction: row;
        }
      }
      @media screen and (min-width: 991px) {
        flex-direction: row;
        padding: 3rem 0;
      }
    }
    .separator {
      border: 1px solid $primary-white-color;
    }
  }
}
