.navbar {
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: $primary-white-color;
  @media screen and (min-width: 576px) {
    padding: 1.5rem 0 1rem 0;
  }
  box-shadow: 0px 3px 6px #00000029;
  .container {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navbar__logo {
        img {
          width: 8rem;
          height: auto;
        }
      }
      .navbar__menu {
        svg {
          width: 2rem;
          height: auto;
        }
      }
      .navbar__menu {
        position: relative;
        .navbar__menu__options {
          @media screen and (min-width: 576px) {
            width: 308px;
          }
          display: block;
          opacity: 0;
          visibility: hidden;
          transition: all 0.35s ease-in-out;
          position: absolute;
          z-index: 10;
          top: 32px;
          right: 0;
          background-color: $primary-white-color;
          border-radius: 0.25rem;
          width: 240px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          svg {
            width: 2rem;
            height: auto;
          }
          ul {
            padding: 0.5rem;
            li {
              padding: 1rem 0.5rem;
              &:hover {
                background-color: $secondary-white-color;
                border-radius: 0.25rem;
              }
              a {
                display: block;
                text-decoration: none;
                color: $secondary-blue-color;
              }
            }
          }
        }
        .menu-visible {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
