.section__form {
  @media screen and (min-width: 991px) {
    padding: 3.375rem 3.8125rem;
    margin: 4.1875rem auto 9.5rem auto;
  }
  background-color: $primary-white-color;
  margin: 2rem auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid $border-primary-color;

  .separator {
    margin: 1rem 0;
    opacity: 0.3;
  }

  .main__title {
    font-family: $primary-font-family;
  }

  .main__subtitle {
    color: $primary-blue-color;
    padding: 0.5rem 0;
  }
}

form {
  .grid__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    gap: 1rem;
  }

  .separator__spacing {
    @media screen and (min-width: 991px) {
      margin-top: 2rem;
    }
    margin-top: 1rem;
  }

  .form__title__direction {
    font-family: $primary-font-family;
    padding-top: 2rem;
    @media screen and (min-width: 991px) {
      padding-top: 4rem;
    }
  }

  .form__container__selectors {
    @media screen and (min-width: 991px) {
      flex-direction: row;
      align-items: center;
    }
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  div {
    .form__label {
      font-size: 0.8125rem;
      margin-bottom: 0.25rem;
    }

    .form__input {
      color: #353535;
      padding: 0.8125rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid $secondary-black-color;
      outline: none;
      font-size: 1rem;
      &:focus-visible {
        border: 0.0625rem solid $secondary-black-color;
      }
      &::placeholder {
        color: $secondary-black-color;
      }
    }

    input[type="text"] {
      // width: calc(100% - 2rem);
      width: 100%;
    }

    input[type="date"] {
      @media screen and (min-width: 991px) {
        max-width: 256px;
      }
      max-width: 100%;
      width: 100%;
    }

    select[name="selector"] {
      color: $secondary-black-color;
      @media screen and (min-width: 991px) {
        width: 179px;
      }
      width: 100%;
      :not(option[selected]) {
        color: $primary-black-color;
      }
    }

    input[type="number"] {
      @media screen and (min-width: 991px) {
        width: 154px;
      }
      width: 100%;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    select[name="selector"] {
      background-color: $secondary-white-color;
    }

    input[type="date"] {
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    }

    select[name="selector"] {
      appearance: none;
    }

    .container__input {
      position: relative;
      .chevron-down {
        position: absolute;
        bottom: 10px;
        right: 13px;
        pointer-events: none;
        img {
          width: 16px;
          height: 16px;
        }
      }

      .calendar__icon {
        position: absolute;
        bottom: 11px;
        right: 16px;
        @media screen and (min-width: 991px) {
          right: 87px;
        }
        pointer-events: none;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .form__terms {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    @media screen and (min-width: 991px) {
      padding: 4rem 0;
    }
    label {
      @media screen and (min-width: 991px) {
        font-size: 1rem;
      }
      font-size: 0.8125rem;
    }
    input[type="checkbox"] {
      order: -1;
      margin-right: 0.75rem;
      accent-color: #0d6efd;
    }
  }

  .form__buttons {
    @media screen and (min-width: 576px) {
      justify-content: flex-end;
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn {
      padding: 0.75rem 1.5rem;
      margin: 0.5rem;
      border-radius: 4px;
      outline: 0;
      border: 0;
      font-size: 1.125rem;
      font-weight: 600;
      font-family: $secondary-font-family;
      width: 100%;
      @media screen and (min-width: 991px) {
        width: fit-content;
      }
    }

    .btn__return {
      background-color: $button-return-color;
      color: $primary-white-color;
    }
    
    .btn__register {
      background-color: $button-success-color;
      color: $secondary-blue-color;
    }
  }
}
