// Font-family's:
$primary-font-family: "Nunito", sans-serif;
$secondary-font-family: "Open Sans", sans-serif;
// Blancos:
$primary-white-color: #ffffff;
$secondary-white-color: #f3f6f9;
$terciary-white-color: #dfe7f0;
// Azules:
$primary-blue-color: #505e70;
$secondary-blue-color: #38485c;
$terciary-blue-color: #5c6a7a;
// Negros:
$primary-black-color: #333333;
$secondary-black-color: #8a98a8;
// Bordes:
$border-primary-color: #e7edf4;
// Amarillos:
$button-return-color: #5c6a7a;
$button-success-color: #ffdb2e;
